body{
    background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center;
    font-size: 30px;
}

.panel{
    margin: 100px auto;
    max-width: 60%;
    text-align: center;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
}

table{
    background-color: rgba(0, 0, 0, 0.6);
    border: 25px solid transparent;
    border-image: url("./assets/border-frame-dark.svg") 30 stretch;
    border-spacing: 0;
    margin: 20px auto;
}


h1{
    place-self: center;
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: 900;
}

h1 img{
    width: 100px;
    vertical-align: text-top;
    margin-right: -10px;

}

td, th{
    border: 1px solid orange;
    border-collapse: collapse;
    padding: 10px 0px;
}

#information{
    color: orange;
}

input {
    text-align: center;
    min-width: 20px;
    width: 30%;
    font-size: 25px;
    background-color: black;
    border: none;
    font-style: bold;
    font-family: "Orbitron", sans-serif;
    font-weight: 500px;
    color: beige;
    border-radius: 20px;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.wrap{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

button{
    color: none;
    padding: none;
    background: none;
    border: none;
    line-height: none;
    width: 50px;
    height: 50px;
    display: block;
}
button img{
    width: 100%;
    height: 100%;
    display: block;
}

.price{
    padding-left: 10px;
    padding-right: 10px;
}

#dc{
    padding-right: 10px;
    padding-left: 10px;
}

tr:first-child th,
tr:first-child td {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

tr th:first-child,
tr td:first-child {
  border-left: none;
}

tr th:last-child,
tr td:last-child {
  border-right: none;
}